In [35]:
import pandas as pd

all_results_df = pd.read_csv('../results/all_results.csv')

In [36]:
all_results_df.head()

,Unnamed: 0,unique_id,ds,AutoNBEATS,AutoNBEATSx,AutoTCN,AutoRNN,AutoNHITS,AutoMLP,AutoLSTM,AutoGRU,AutoDilatedRNN,vintage_file
0,0,1,3/31/2018,0.007760,0.006407,0.007067,0.005208,0.005570,0.004725,0.004754,0.005907,0.006073,vintage_2018_05
1,1,1,6/30/2018,0.007044,0.007414,0.007067,0.007846,0.007772,0.006252,0.009373,0.006786,0.007410,vintage_2018_05
2,2,1,9/30/2018,0.002642,0.007136,0.007067,0.005208,0.005808,0.005107,0.005297,0.005547,0.005604,vintage_2018_05
3,3,1,12/31/2018,0.008088,0.007688,0.007067,0.009935,0.007068,0.007151,0.013420,0.009762,0.011557,vintage_2018_05
4,4,1,3/31/2018,0.004881,0.006995,0.006402,0.008227,0.011824,0.005760,0.006207,0.005415,0.005824,vintage_2018_06

In [37]:
all_results_df['ds'] = pd.to_datetime(all_results_df['ds'])

In [38]:
all_results_df.head()

,Unnamed: 0,unique_id,ds,AutoNBEATS,AutoNBEATSx,AutoTCN,AutoRNN,AutoNHITS,AutoMLP,AutoLSTM,AutoGRU,AutoDilatedRNN,vintage_file
0,0,1,2018-03-31,0.007760,0.006407,0.007067,0.005208,0.005570,0.004725,0.004754,0.005907,0.006073,vintage_2018_05
1,1,1,2018-06-30,0.007044,0.007414,0.007067,0.007846,0.007772,0.006252,0.009373,0.006786,0.007410,vintage_2018_05
2,2,1,2018-09-30,0.002642,0.007136,0.007067,0.005208,0.005808,0.005107,0.005297,0.005547,0.005604,vintage_2018_05
3,3,1,2018-12-31,0.008088,0.007688,0.007067,0.009935,0.007068,0.007151,0.013420,0.009762,0.011557,vintage_2018_05
4,4,1,2018-03-31,0.004881,0.006995,0.006402,0.008227,0.011824,0.005760,0.006207,0.005415,0.005824,vintage_2018_06

In [39]:
trel_dfs = []
for i in range(4):
    trel = all_results_df.iloc[i::4, :]
    trel = trel.drop(columns=['Unnamed: 0', 'unique_id'])
    trel_dfs.append(trel)

id_vars = ['ds', 'vintage_file']

tidy_trel_dfs = []
for trel_df in trel_dfs:
    tidy_trel = pd.melt(trel_df, id_vars=id_vars, var_name='model', value_name='value')
    tidy_trel_dfs.append(tidy_trel)

In [40]:
tidy_trel_0, tidy_trel_1, tidy_trel_2, tidy_trel_3 = tidy_trel_dfs